ul.listVote {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 5px;
  left: 9px;
  gap: 10px;
  padding: 10px 0;

  width: 90%;
}

p.vote {
  font-weight: bold;
  text-align: center;
  color: gray;
  border: 2px solid gray;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  width: 30px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.225);
}

p.voteNum {
  text-align: center;
  font-weight: bold;
  height: 20px;
  width: 30px;
}

p.vote:active {
  box-shadow: none;
}
