* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span.subject {
  width: 100%;
}

ul.subjectList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
.subjectListItem {
  border: 1px solid black;
  border-radius: 3px;
  color: antiquewhite;
  background-color: rgba(17, 0, 255, 0.521);

  width: 5em;
}

.subjectListItem:hover {
  cursor: pointer;
  background-color: rgba(19, 10, 152, 0.664);

  transition: all 0.3s;
}
