* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span.subject {
  font-family: "Merriweather", serif;

  border: 2px solid rgb(19, 10, 152);
  border-radius: 10px;
  color: black;
  background-color: #faf3dd;
  padding: 5px;

  font-size: small;
  font-weight: 500;

  display: inline-block;
  align-items: center;
  height: max-content;
  width: min-content;
  margin-right: 2rem;

  position: relative;
  top: 10px;
  left: 9px;
}

span.subject:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(19, 10, 152);
  transform: scale(1.05);
  transition: all 0.3s;
}
