* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p.body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 9px;

  width: 95%;
  white-space: line;
  text-align: start;
  margin-bottom: 15px;
}
